nav {
  font-weight: bolder;
  box-shadow: $shadow-lg;

  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);

  .nav-logo {
    width: 9rem;
    height: 3rem;
  }

  .social-icons {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25rem;

    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  nav {
    .nav-logo {
      width: 15rem;
      height: 4rem;
    }

    .social-icons {
      font-size: 1.75rem;
    }
  }
}
