main {
  text-align: center;
  text-transform: capitalize;

  .main-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.75rem;

    .holiday-table {
      display: grid;

      .table-head {
        background-color: $clr-primary-500;
      }

      .table-content {
        display: grid;
        place-items: space-evenly;
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .hover-text {
      position: relative;
      cursor: help;

      &:hover .tooltip-text {
        visibility: visible;
      }

      .tooltip-text {
        z-index: 1;
        margin-left: 1.75rem;
        padding: 0.35rem;
        width: 10rem;
        visibility: hidden;
        position: absolute;
        top: -1%;
        left: 70%;
        transition: $transition;
        text-transform: none;
        border-radius: $brd-radius;

        background-color: $clr-primary-800;
      }

      .tooltip-text::before {
        content: "";
        z-index: 1;
        padding: 0.35rem;
        position: absolute;
        top: 6%;
        left: -4%;
        transform: rotate(45deg);
        background-color: $clr-primary-800;
      }
    }

    aside {
      ul li {
        color: $clr-primary-300;
      }
    }
  }
}
