// font
$fw-body: 400;

$fs-small: 0.875rem;
$fs-smaller: 0.7em;

$ff-body: "Karla", sans-serif;
$ff-heading: "Spectral", sans-serif;

// effects
$ln-height: 1.75;
$spacing: 0.25rem;
$brd-radius: 0.25rem;
$ltr-spacing: 0.15rem;

$transition: all 0.5s ease-in-out;

// width
$max-width: 1170px;
$fixed-width: 600px;

// colors
$clr-primary-100: #e2e0ff;
$clr-primary-200: #c1beff;
$clr-primary-300: #a29dff;
$clr-primary-400: #837dff;
$clr-primary-500: #645cff;
$clr-primary-600: #504acc;
$clr-primary-700: #3c3799;
$clr-primary-800: #282566;
$clr-primary-900: #141233;

// greys
$clr-grey-50: #f8fafc;
$clr-grey-100: #f1f5f9;
$clr-grey-200: #e2e8f0;
$clr-grey-300: #cbd5e1;
$clr-grey-400: #94a3b8;
$clr-grey-500: #64748b;
$clr-grey-600: #475569;
$clr-grey-700: #334155;
$clr-grey-800: #1e293b;
$clr-grey-900: #0f172a;

// rest of the colors
$clr-black: #222;
$clr-white: #fff;
$clr-red-dark: #842029;
$clr-red-light: #f8d7da;
$clr-green-dark: #0f5132;
$clr-green-light: #d1e7dd;

$clr-bg: $clr-grey-900;
$clr-text: $clr-grey-50;
$clr-hover: $clr-primary-500;

// TODO: bright box shadows
$shadow:
  0 1px 3px 0 rgba(0, 0, 0, 0.1),
  0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-md:
  0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-lg:
  0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-xl:
  0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
